certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
Deprecated==1.2.13
Flask==2.0.2
geographiclib==1.52
geopy==2.2.0
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpickle==2.1.0
MarkupSafe==2.0.1
meteostat==1.5.11
numpy==1.22.1
packaging==21.3
pandas==1.4.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
redis==4.1.1
requests==2.27.1
six==1.16.0
urllib3==1.26.8
Werkzeug==2.0.2
wrapt==1.13.3
