{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} (api info){% endblock %}</h1>
    
    <h2>Usage</h2>
    The following APIs are available:
    <ul>
        <li><code>{{ url_for('index', _external=True) }}api/citystate/[citystate]</code></li>
        <li><code>{{ url_for('index', _external=True) }}api/multi/[citystate1_citystate2_..._citystateN]</code></li>
    </ul>
    These APIs return an XML containing information you can parse.<br/>
    For both methods, you can use "get-headers" as a valid citystate to get the column names.

    <h3>Examples</h3>
    <ul>
        <li>To get data for Irvine, CA: <a href="{{ url_for('single_city', citystate='irvine-ca') }}">{{ url_for('index', _external=True) }}api/citystate/irvine-ca</a></li>
        <li>To get data for Irvine, CA and New York, NY with headers: <a href="{{ url_for('multi_city', citystatelist='get-headers_irvine-ca_new+york-ny') }}">{{ url_for('index', _external=True) }}api/multi/get-headers_irvine-ca_new+york-ny</a></li>
    </ul>
    
    <h2>Data Format</h2>
    <h3>Single City</h3>
    <xmp>
        <data citystate="irvine-ca">
            <population>246,992</population>
            <weather> 4.4 | 15.0 | 18.2 | 22.8 | 36.7 </weather>
            <livability>80</livability>
            <amenities>A+</amenities>
            <cost_of_living>F</cost_of_living>
            <crime>A</crime>
            <employment>B</employment>
            <housing>D+</housing>
            <schools>A+</schools>
            <user_ratings>A</user_ratings>
            <nearby_large_cities>
            Irvine, CA (0km), Orange, CA (8km), Santa Ana, CA (8km)
            </nearby_large_cities>
            <count_nearby_large>32</count_nearby_large>
        </data>
    </xmp>
    Weather Format:
    <ul>
        <li>4.4 is the lowest daily temperature of the previous year;</li>
        <li>15.0 is the median of the daily-low temperatures of the previous year;</li>
        <li>18.2 is the median of the daily-average temperatures of the previous year;</li>
        <li>22.8 is the median of the daily-high temperatures of the previous year;</li>
        <li>36.7 is the highest daily temperature of the previous year;</li>
    </ul>
    All temperatures are in Celsius.

    <h3>Multi-city</h3>
    <xmp>
        <multi citystatelist="get-headers_irvine-ca_new+york-ny">
            <data citystate="get-headers">
                <population>Population</population>
                <weather>2021 Weather (ºC)</weather>
                <livability>Overall Livability</livability>
                <amenities>Amenities</amenities>
                <cost_of_living>Cost of Living</cost_of_living>
                <crime>Crime</crime>
                <employment>Employment</employment>
                <housing>Housing</housing>
                <schools>Schools</schools>
                <user_ratings>User Ratings</user_ratings>
                <nearby_large_cities>Closest Large Cities</nearby_large_cities>
                <count_nearby_large># of Large Cities Nearby</count_nearby_large>
            </data>
            <data citystate="irvine-ca">
                <population>246,992</population>
                <weather> 4.4 | 15.0 | 18.2 | 22.8 | 36.7 </weather>
                <livability>80</livability>
                <amenities>A+</amenities>
                <cost_of_living>F</cost_of_living>
                <crime>A</crime>
                <employment>B</employment>
                <housing>D+</housing>
                <schools>A+</schools>
                <user_ratings>A</user_ratings>
                <nearby_large_cities>
                Irvine, CA (0km), Orange, CA (8km), Santa Ana, CA (8km)
                </nearby_large_cities>
                <count_nearby_large>32</count_nearby_large>
            </data>
            <data citystate="new+york-ny">
                <population>8,461,961</population>
                <weather>-7.2 | 10.6 | 14.6 | 19.4 | 35.0 </weather>
                <livability>67</livability>
                <amenities>A+</amenities>
                <cost_of_living>F</cost_of_living>
                <crime>F</crime>
                <employment>C-</employment>
                <housing>D+</housing>
                <schools>C+</schools>
                <user_ratings>B</user_ratings>
                <nearby_large_cities>
                New York, NY (0km), Jersey City, NJ (4km), Newark, NJ (14km)
                </nearby_large_cities>
                <count_nearby_large>6</count_nearby_large>
            </data>
        </multi>
    </xmp>



    <h2>Google Sheets Integration</h2>
    <h3>Data Preparation</h3>
    Assuming you have city names in the format of "City, ST" (e.g., "Irvine, CA"), you can use the following formula to convert them into "city-state" (e.g., "irvine-ca"):<br/>
    <code>=LOWER(SUBSTITUTE(SUBSTITUTE({CELL},", ","-"), " ", "+"))</code><br/>
    where CELL is the cell containing the city name.

    <h3>IMPORTXML</h3>
    After you have the city names in the "city-state" format, you can use the following formulas:
    <ul>
        <li>To get data for a single city: <code>=IMPORTXML(CONCATENATE("{{ url_for('index', _external=True) }}api/citystate/", {CITY}), "/data")</code></li>
        <li>To get data for multiple cities: <code>=IMPORTXML(CONCATENATE("{{ url_for('index', _external=True) }}api/multi/", {CITY LIST}), "/multi/data")</code></li>
    </ul>
    HINT: for the second call, you can add "get-headers" as the 1st city in your list, and that should create the headers for you.
{% endblock %}
