<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City Data Search{% block title %} {% endblock %}</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        code {
            font-family: Consolas,"courier new";
            color: crimson;
            background-color: #f1f1f1;
            padding: 2px;
            font-size: 105%;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">City Data Search</a>
        <a href="{{ url_for('about') }}">about</a>
        <a href="{{ url_for('api_info') }}">api</a>
    </nav>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
<footer>
    <hr />
    If you want to <a href="https://github.com/cbdm/city-data-search">contribute to the project</a>, or have any suggestions, <a href="mailto:hi@city-data-search.com">get in touch! (hi@city-data-search.com)</a>
</footer>
</html>
