{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} (about){% endblock %}</h1>

    <h2>Motivation</h2>
    <p>
        I started this project when I was looking into universities in US & Canada.<br/>
        This was a way to find a little more information about cities in bulk, so I could choose which places I wanted to focus on.<br/>
        The main goal of this project was to provide a single <a href="{{ url_for('api_info') }}">API</a> that could easily import all this data into Google Sheets.<br/>
    </p>

    <h2>Data Sources</h2>
    <ul>
        <li>
            Basic city info: <a href="http://geonames.org/">http://geonames.org/</a>
        </li>
        <li>
            City photo: <a href="https://developers.google.com/maps/documentation/places/web-service/overview">Google Places API</a>
        </li>
        <li>
            Weather: <a href="https://github.com/meteostat/meteostat-python">meteostat-python</a>
            <ul>
                <li>Md. = median;</li>
                <li>Avg. = average;</li>
            </ul>
        </li>
        <li>
            City livability: <a href="https://areavibes.com/">https://areavibes.com/</a>
        </li>
        <li>
            Major cities: <a href="https://worldpopulationreview.com/world-cities">https://worldpopulationreview.com/world-cities</a>
            (accessed on 2022-01-28)
        </li>
        <li>
            Urban area data: <a href="https://teleport.org/">https://teleport.org/</a>
        </li>
    </ul>
{% endblock %}
