{% extends 'base.html' %}

{% block title %} ({{ city.name }}){% endblock %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.3.0/build/global/luxon.min.js"></script>
{% endblock %}

{% block content %}
    <h1>{{ city.full_name }}</h1>
    <div class="row">
        <div class="two_columns_no_borders">
            <div class="basic_city_info">
                <div class="city_image" style="background-image: url({{ city.img }});">
                    <img src="{{ city.img }}" alt="Photo of {{ city.name }}"/>
                </div>
            </div>
            <div class="row">  
                <h2>Basic Info</h2>
                <ul>
                    <li style="font-size: large;"> Population: {{ city.population }} </li>
                    <li style="font-size: large;"> Current Local Time: <span id = "clock" onload="currentTime()"></span></li>
                    <script>
                        function currentTime() {
                        let date = new luxon.DateTime.fromObject({}, {zone: '{{ city.tz }}'});
                        document.getElementById("clock").innerText = date.toLocaleString(luxon.DateTime.DATETIME_MED_WITH_SECONDS);;
                        let t = setTimeout(function(){ currentTime() }, 1000);
                        }
                        currentTime();
                    </script>
                </ul>
            </div>
            <div class="row">
                <h2> {{ weather_year }} Daily Temperatures</h2>
                <div class="five_columns">
                    Lowest<br/>
                    {{ city.weather[0] }} ºC
                </div>
                <div class="five_columns">
                    Md. Low<br/>
                    {{ city.weather[1] }} ºC
                </div>
                <div class="five_columns">
                    Md. Avg.<br/>
                    {{ city.weather[2] }} ºC
                </div>
                <div class="five_columns">
                    Md. High<br/>
                    {{ city.weather[3] }} ºC
                </div>
                <div class="five_columns">
                    Highest<br/>
                    {{ city.weather[4] }} ºC
                </div>
            </div>
            <div class="row">
                <h2>City Livability</h2>
                <div class="two_columns">
                    Overall<br/>
                    {{ city.overall_livability }}
                </div>
                <div class="two_columns">
                    Cost of Living<br/>
                    {{ city.cost_of_living }}
                </div>
            </div>
            <div class="row">
                <div class="three_columns">
                    Housing<br/>
                    {{ city.housing }}
                </div>
                <div class="three_columns">
                    Safety<br/>
                    {{ city.safety }}{{ Crime }}     
                </div>
                <div class="three_columns">
                    Schools<br/>
                    {{ city.schools }}
                </div>
            </div>
        </div>
        <div class="two_columns_no_borders">
            <h2>Major Cities Nearby</h2>
            <div id="map" style="width: 600px; height: 400px; position: relative;"></div>
            <script>

                var map = L.map('map').setView([{{ city.coordinates[0] }}, {{ city.coordinates[1] }}], 13);

                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                L.marker([{{ city.coordinates[0] }}, {{ city.coordinates[1] }}]).addTo(map)
                .bindPopup('{{ city.name }}')
                .openPopup();

                L.circle([{{ city.coordinates[0] }}, {{ city.coordinates[1] }}], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.01,
                    radius: 250000
                }).addTo(map);

                {% for nearby_city in city.closest_major_cities %}
                    L.marker([{{ nearby_city['coordinates'][0] }}, {{ nearby_city['coordinates'][1] }}]).addTo(map)
                    .bindPopup('{{ nearby_city['name'] }}<br>Population: {{ nearby_city['population'] }}');
                {% endfor %}
                {% for nearby_city in city.nearby_major_cities %}
                    L.marker([{{ nearby_city['coordinates'][0] }}, {{ nearby_city['coordinates'][1] }}]).addTo(map)
                    .bindPopup('{{ nearby_city['name'] }}<br>Population: {{ nearby_city['population'] }}');
                {% endfor %}
            </script>
            <b>Closest Three:</b> 
            <ol>
            {% for nearby_city in city.closest_major_cities %}
                <li>{{ nearby_city['name'] }} ({{ "%d" % nearby_city['distance'] }}km)</li>
            {% endfor %}
            </ol>
            <b>Total within 250km:</b> {{ city.nearby_major_cities | length }}
            {% if city.living_wages != "N/A" %}
                <h2>Living Wage</h2>
                {% if city.living_wages["metro"] %}
                    <h3>Metro Area: {{ city.living_wages["metro"]["name"] }}</h3>
                    <div class="row">
                        <div class="three_columns">
                            1 adult<br/>
                            {{ city.living_wages["metro"]["wages"]["1A1W0C"] }}
                        </div>
                        <div class="three_columns">
                            2 adults<br/>
                            {{ city.living_wages["metro"]["wages"]["2A1W0C"] }}
                        </div>
                        <div class="three_columns">
                            2 adults + 1 kid<br/>
                            {{ city.living_wages["metro"]["wages"]["2A1W1C"] }}
                        </div>
                    </div>
                {% endif %}
                {% if city.living_wages["county"] %}
                    <h3>County: {{ city.living_wages["county"]["name"] }}</h3>
                    <div class="row">
                        <div class="three_columns">
                            1 adult<br/>
                            {{ city.living_wages["county"]["wages"]["1A1W0C"] }}
                        </div>
                        <div class="three_columns">
                            2 adults<br/>
                            {{ city.living_wages["county"]["wages"]["2A1W0C"] }}
                        </div>
                        <div class="three_columns">
                            2 adults + 1 kid<br/>
                            {{ city.living_wages["county"]["wages"]["2A1W1C"] }}
                        </div>
                    </div>
                {% endif %}
                {% if city.living_wages["state"] %}
                    <h3>State: {{ city.living_wages["state"]["name"] }}</h3>
                    <div class="row">
                        <div class="three_columns">
                            1 adult<br/>
                            {{ city.living_wages["state"]["wages"]["1A1W0C"] }}
                        </div>
                        <div class="three_columns">
                            2 adults<br/>
                            {{ city.living_wages["state"]["wages"]["2A1W0C"] }}
                        </div>
                        <div class="three_columns">
                            2 adults + 1 kid<br/>
                            {{ city.living_wages["state"]["wages"]["2A1W1C"] }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if city.urban_area != "N/A" %}
        <hr />
        <div class="row">
            <h2>Urban Area: <span style="color: black;">{{ city.urban_area }}</p></p></h2>
            <div class="two_columns_no_borders">
                <img src="{{ city.ua_img_url }}" alt="{{ city.urban_area }}" class="ua_image"/>
            </div>
            <div class="two_columns_no_borders">
                <div class="row">
                    <h2>Urban Area Livability</h2>
                    <div class="two_columns">
                        Overall<br/>
                        {{ city.ua_overall_livability }}
                    </div>
                    <div class="two_columns">
                        Cost of Living<br/>
                        {{ city.ua_cost_of_living }}
                    </div>
                </div>
                <div class="row">
                    <div class="three_columns">
                        Housing<br/>
                        {{ city.ua_housing }}
                    </div>
                    <div class="three_columns">
                        Safety<br/>
                        {{ city.ua_safety }}{{ Crime }}     
                    </div>
                    <div class="three_columns">
                        Schools<br/>
                        {{ city.ua_schools }}
                    </div>
                </div>
                <div class="row">
                    <h2>Weather</h2>
                    <div class="two_columns">
                        Type<br/>
                        {{ city.ua_weather_type }}
                    </div>
                    <div class="two_columns">
                        Rainy Days<br/>
                        {{ city.ua_avg_num_rainy_days }}
                    </div>
                </div>
                <div class="row">
                    <h2>Monthly Rent (USD)</h2>
                    <div class="three_columns">
                        Small Apt.<br/>
                        {{ city.ua_rent_small }}
                    </div>
                    <div class="three_columns">
                        Medium Apt.<br/>
                        {{ city.ua_rent_medium }}
                    </div>
                    <div class="three_columns">
                        Large Apt.<br/>
                        {{ city.ua_rent_large }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    </div>
{% endblock %}

{% block footer %}
<hr/>
Data for {{ city.name }} was last updated on {{ city.timestamp }} (UTC).
{% if show_refresh %}
    <button onclick="window.location.href='{{ url_for('refresh', geonameid=geonameid) }}';">refresh data</button>
{% endif %}

{% endblock %}
